$error_red: red;
$error_green: green;


.app {
  padding-top: 40px;
  #login_button{
    margin-left:10px;
  }
  .content {
    padding: 10px;
    padding-top: 35px;
  }
  .form-field-error{
    border:1px solid $error_red;
  }
  .form-field-valid{
    border:1px solid $error_green;
    background:$error_green;
  }
  .error-message{
    color:$error_red;
  }
}