<!-- Error Messages -->
<span class="error-message" ng-show="left && form[name].$dirty && form[name].$invalid">
    <!-- Invalid Error -->
    <span ng-show="form[name].$error[type]">{{label}} is invalid</span>
    <!-- Required Error -->
    <span ng-show="form[name].$error.required">{{label}} is required.</span>
    <!-- Match Error -->
    <span ng-show="matchError">{{label}}'s must match</span>
</span>

<!-- Field -->
<label class="item item-input"
       data-ng-class="{
                   'form-field-error': form[name].$dirty && form[name].$invalid,
                   'form-field-valid': (!form[name].$dirty || !form[name].$invalid)
                       && model.length>1}">
    <!-- Label Text-->
    <span class="input-label">{{label}}</span>
    <!-- Input -->
    <input type="{{type}}" dynamic-name="name" data-ng-model="model" data-ng-blur="left=true" maxlength="{{max}}"
           data-ng-minlength="{{min}}" data-ng-required="req">
</label>