<div class="row">
    <div class="col">
        <div class="card">
            <div class="item item-divider">
                Sign Up!
            </div>
            <div class="item item-text-wrap">
                <form class='navbar-form' id='header-login-form' name="signup_form">
                    <label class="item item-input">
                        <span class="input-label">First Name</span>
                        <input data-ng-model="user.firstName" type="text"/>
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Last Name</span>
                        <input data-ng-model="user.lastName" type="text" name="user"/>
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Email Address</span>
                        <input data-ng-model="user.username" type="email" name="user"/>
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input data-ng-model="user.password" type="password"/>
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Confirm Password</span>
                        <input data-password-verify="user.password" data-ng-model="user.password_verify" class='form-control'
                               type="password"/>
                    </label>
                    <br/>
                    <a href="" class="button button-positive" data-ng-click="createUser()">Signup</a>
                </form>
            </div>
        </div>

    </div>
</div>
