<div class="row">
    <div class="col">
        <form class='navbar-form' id='header-login-form' name="signup_form">
            <h2>Signup</h2>

            <input data-ng-model="user.firstName" class='form-control' type="text" placeholder="First Name"/>

            <input data-ng-model="user.lastName" class='form-control' type="text" name="user" placeholder="Last Name"/>

            <input data-ng-model="user.username" class='form-control' type="email" name="user" placeholder="Email"/>

            <input data-ng-model="user.password" class='form-control' type="password" placeholder="Password"/>

            <input data-password-verify="user.password" data-ng-model="user.password_verify" class='form-control'
                   type="password" placeholder="Confirm Password"/>

            <a href="" class="button button-positive" data-ng-click="createUser()">Signup</a>
        </form>
    </div>
</div>
