<!DOCTYPE html>
<html>
<head>
    <title>Simple Rest Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src='host.js'></script>
    <script src="tester.js"></script>
    <script src="tests.js"></script>
    <style type="text/css">
        body{
            margin:10px;
        }
        .error{
            background: lightcoral;
        }
        .passed{
            background: lightgreen;
        }
        li{
            list-style-type: none;
            padding:10px;
        }
        h1{
            padding:10px;
            text-align: center;
        }
    </style>
</head>
<body ng-app='myApp' ng-controller='SimpleRestTestCtrl' ng-init='errorOnly=true'>
    <div><span>{{tests.length}} Tests</span> | {{errorCnt}} Errors | 
        Method
        <select ng-model='filterMe.method'>
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="DELETE">DELETE</option>
        </select>
        <input type="text" ng-model='search' placeholder="search"/>
    </div>

    <h1 ng-class="{true:'error', false:'passed'}[errorCnt>0]">
        {{100*((tests.length-errorCnt)/tests.length) | number:2}}% Passing
    </h1>
    <hr>
    <ul ng-repeat='test in tests | filter:filterMe | filter:search' class=''>
        <li ng-class="{true:'error', false:'passed'}[test.hasError]">
            <div>
                <strong>Request url: </strong>
                <a href="{{host}}{{test.endpoint}}/{{test.function}}">
                    {{host}}{{test.endpoint}}/{{test.function}}
                </a>
            </div>
            <div ng-if='test.method'>
                <strong>Request method: </strong>{{test.method}}<br/>
            </div>
            <div ng-if='test.data'>
                <strong>Request data: </strong>{{test.data}}<br/>
            </div>
            <div ng-if='test.responseCode'>
                <strong>Response code: </strong>{{test.responseCode}}<br/>
            </div>
            <div ng-if='test.hasError'>
                <strong>Errors:</strong>
                <ul ng-repeat='error in test.errorMessages'>
                    <li><code>{{error}}</code></li>
                </ul>
            </div>
        </li>
    </ul>
</body>
</html>