/*
 ************DONT REMOVE YET!!!**************

body{
    background: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.app-title{
    font-size: 80px;
}
header{
    width:100%;
    text-align: center;
}
header .logo{
    width:100px;
}

.header-text-input{
    width:150px;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FFDAD1;
}

.css-form input.ng-valid.ng-dirty {}

@media (max-width: 990px) {
    .vertical-line-left{
        border-top: thin solid #a8a6af;
    }
}

@media (min-width: 990px) {
    .vertical-line-left{
        border-left: thin solid #a8a6af;
    }
}

.add {
    padding:10px;
}
.shadow{
    border-radius: 1px;
    1`
-webkit-box-shadow: 10px 10px 9px -3px #bcbcbc;
box-shadow: 10px 10px 9px -3px #bcbcbc;
    }
.add div{
    word-break: break-all;
    padding:10px;
    height:390px;
    width:200px;
}
.app-wrapper{
    width:790px;
}

SEARCH FOR THESE CLASSES AND THEN DELETE

*/
.app-container {
    padding: 10px;
}

textarea {
    resize: none;
}

.shadow {
    border-radius: 1px;
    -webkit-box-shadow: 10px 10px 9px -3px #bcbcbc;
    box-shadow: 10px 10px 9px -3px #bcbcbc;
}

/* COLORS */

.bg-light-blue {
    background: #3a9ee5;
}

.txt-light-blue {
    color: #3a9ee5;
}

.bg-med-blue {
    background: #0b438d;
}

.txt-med-blue {
    color: #0b438d;
}

/*

.campaign-ad-card {
    height: 100%;
}

.campaign-ad-card > div h1 {
    margin-left: -60px;
    color: #ffffff;
    font-size: 18px;
    height: 100%;
}

.campaign-ad-card div {
    text-align: center;
}
*/

.modal-content {
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}

.footer {
    margin-top: 20px;
}


/*Fixes*/
.header{
    margin-bottom:130px;
}
